:root {
  background: rgb(255, 255, 255);
}

* {
  color: rgb(0, 0, 0);
}

h1 {
  color: blue;
}

.green {
  color: green;
}

#blue {
  color: blue;
}

.box div {
  background-color: green;
}

.box p {
  background-color: red;
}

.brown {
  background: brown;
  color: white;
}

.card-body > div > ul > li {
  background-color: red;
}

.header-button + span {
  background-color: red;
}

.susid ~ p {
  background-color: blue;
  color: white;
}
.salo,
#bread {
  background-color: yellow;
}

.first-task li:first-child {
  color: white;
}

.second-task ul:first-child li:first-child {
  color: yellow;
}

.third-task ul:last-child li:first-child {
  background-color: yellow;
}

.four-task li:last-child {
  background-color: yellow;
}

.five-task ul:last-child li:last-child {
  color: white;
}

.only-child-task div:only-child {
  color: red;
}

.seven-task p:first-of-type {
  background-color: red;
}

.eight-task p:last-of-type {
  background-color: red;
}

.nine-task p:only-of-type {
  background-color: yellow;
}

.lesson-three-task-one a[href] {
  color: white;
}

.lesson-three-task-two li[value] {
  color: yellow;
}

.lesson-three-task-three li[value='3'] {
  background-color: red;
}

.lesson-three-task-four button[class~='primary'] {
  background: blue;
}

.lesson-three-task-five button[class|='secondary'] {
  background: red;
}

.lesson-three-task-six li[class^='b'] {
  color: green;
  background-color: white;
}

.lesson-three-task-seven li[class*='on'] {
  color: green;
  background-color: white;
}

.lesson-three-task-eight span[class$='s'] {
  color: blue;
  background: white;
}

.lesson-three-task-nine h2::first-letter {
  color: red;
}

.lesson-three-task-ten::first-line {
  background: yellow;
}

.lesson-three-task-eleven input::placeholder {
  background: red;
}

.lesson-three-task-twelve li::before {
  content: '➤ ';
}

.lesson-three-task-thirteen li::after {
  content: '➤ ';
}
